<div class="home-page" style="display:flex; margin:0 auto; width:100%; flex-direction:column; align-items:center; padding-top:150px; gap:3rem">

  <button [routerLink]="['/template']" style="background-color:chocolate; border-radius:5px;padding:15px">Template Driven</button>
  <button [routerLink]="['/reactive']" style="background-color:chocolate; border-radius:5px;padding:15px">Reactive</button>
  <button [routerLink]="['/advanced']" style="background-color:chocolate; border-radius:5px;padding:15px">Advanced Reactive Form</button>

</div>
